.cartBody{
    width:100%;
    display:flex;
    flex-flow:column nowrap;
    margin-top:20vh;
    background-color:#121212;
    min-height:80vh;
    .cartTitle{
        padding-left:4.5%; 
        padding-top:2%;
        text-transform:uppercase;
        letter-spacing: 2px;
        height:10vh;
    }
    .cartCont{
        min-height:10vh;
        height:auto;
        width:80%;
        margin-left:10%;
        margin-right:10%;
        margin-top:5vh;
        margin-bottom:5vh;
        border-radius:0.5%;
        position:relative;
        display:flex;
        justify-content:flex-start;
        .empty{
            height:auto;
            width:55%;
            padding:1%;
            background-color:#161616;
            display:flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            h2{
                font-size:2rem;
                text-transform:uppercase;
            }
            .backLink{
                color:#E91E63;
                text-decoration: none;
            }
        }
        .cardsCont{
            width:55%;
            height:auto;
            padding:0 3%;
            background-color:#161616;
            .cartCard:last-of-type{
                border:none;
            }
            .cartCard{
                display:flex;
                flex-flow:row nowrap;
                width:100%;
                height:15vh;
                align-items:center;
                padding: 4% 0%;
                border-bottom:1px solid #222222;
                .cartImgCont{
                    margin:0 2%;
                    height:100%;
                    width:15%;
                    overflow:hidden;
                    box-shadow: 3px 3px 5px 3px #080808;
                    img{
                        max-height:100%;
                        max-width:100%;
                        height:100%;   
                        width:100%;
                    }
                }
                .model{
                    margin:0 2%;
                    width:30%;
                    height:100%;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                    text-transform: uppercase;
                }
                .cCountCont{
                    margin: 0 2%;
                    height:100%;
                    width:20%;
                    display:flex;
                    align-items:center;
                    justify-content: center;
                    .cCounter{
                        display:flex;
                        flex-flow:row nowrap;
                        width:100%;
                        height:30%;
                        background-color:#202020;
                        box-shadow: 3px 3px 5px #080808;
                        border-radius:5%;
                        .count{
                            height:100%;
                            width:44%;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                            background-color: #F7F7F7;
                            color: #161616;
                            }
                        .plus, .minus{
                            width:33%;
                            height:100%;
                            display:flex;
                            justify-content:center;
                            align-items:center;
                            border:none;
                            background:transparent;
                            color: #F7F7F7;
                        }
                    }
                }
                .price{
                    height:100%;
                    width:10%;
                    margin:0 2%;
                    display:flex;
                    justify-content:center;
                    align-items:center;
                }
                .cartDelete{
                    display:flex;
                    justify-content: flex-end;
                    align-items:center;
                    margin:0 2%;
                    height:100%;
                    width:10%;
                    font-size:20px;
                    background-color:transparent;
                    border:none;
                    color:red;
                    cursor:pointer;
                }
            }
        }
        .resume {
            position:absolute;
            top: 0;
            right: 0;
            height:180px;
            width:40%;
            background-color: #161616;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            h4{
                letter-spacing: 1.3px;
                font-size:1.2rem;
                display:flex;
                align-items:center;
                text-transform:uppercase;
                height:33.33%;
                width:90%;
                margin: 0% 5%;
                padding:4% 0%;
                border-bottom:1px solid #222222;
            }
            .totalPrice{
                letter-spacing: 1.2px;
                height:33.33%;
                width:85%;
                margin-left:5%;
                margin-right:10%;
                padding:4% 0%;
                display:flex;
                flex-flow:row nowrap;
                justify-content:space-between;
                border-bottom:1px solid #222222;
                .totaltxt{
                    font-size:1rem;
                    text-transform:uppercase;
                    font-weight: bold;
                    color:#E91E63;
                }
            }
            .finalise{
                font-size:1rem;
                width:100%;
                height:33.33%;
                text-transform:uppercase;
                border:none;
                background-color:#E91E63;
                color:#F7F7F7;
                font-weight: bold;
                letter-spacing: 2px;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }   
    }
}
