.checkout{
    height: 60%;
    width:90%;
    display:flex;
    flex-flow:column nowrap;
    margin-right:10%;
    padding:2%;

    .counterCont{
        height:40%;
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
        
        .counter{
            min-height:30px;
            height:25%;
            width:35%;
            max-height:40px;
            display:flex;
            flex-flow:row nowrap;
            justify-content:center;
            align-items:center;
            background-color:#202020;
            box-shadow: 2px 2px 3px #080808;
            border-radius:5px;
        
            .plus, .minus{
                width: 30%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                border:none;
                background:transparent;
                color: #F7F7F7;
            }

            .count{
                width:44%;
                height:100%;
                display:flex;
                justify-content:center;
                align-items:center;
                border:none;
                background-color: #F7F7F7;
                color: #161616;
                box-shadow: 0 2px 3px #080808;
            }
        }
    }
    .addBtn {
        height:60%;
        width:100%;
        display:flex;
        align-items:flex-start;
        justify-content: center;
        .addTo{
            min-height:40px;
            height:20%;
            margin-top:10%;
            width:80%;
            border:none;
            background-color:#E91E63;
            color:#F7F7F7;
            text-transform:uppercase;
            font-size:0.9rem;
            letter-spacing: 1px;
            font-weight:600;
            border-radius:10px;
            box-shadow: 2px 2px 3px #080808;
        }

    }
}
.finCont{
    height: 60%;
    width:90%;
    display:flex;
    flex-flow:column nowrap;
    margin-right:10%;
    padding:2%;
    .empty{
        height:40%;
    }
    .finish{
        height: 60%;
        width:100%;
        display:flex;
        align-items:flex-start;
        justify-content: center;
        .finBtn{
            height:20%;
            min-height:40px;
            margin-top:10%;
            width:80%;
            border:none;
            background-color:#E91E63;
            color:#F7F7F7;
            text-transform:uppercase;
            font-size:0.9rem;
            letter-spacing: 1px;
            font-weight:600;
            border-radius:10px;
            box-shadow: 2px 2px 3px #080808;
            text-decoration:none;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }
}