.detImgCont{
    height:70vh;
    width:60%;
    display:flex;
    align-items:start;
    justify-content: start;
    padding-left:5%;
    padding-top:3%;
    min-width:250px;
    min-height:250px;
    img{
        border-radius: 1.5%;
        max-width:90%;
        max-height:90%;
        width:80%;
        height:70%;  
        box-shadow:5px 5px 5px #181818;
    }
}
.detail{
    display:flex;
    flex-flow:row nowrap;
    justify-content: unset;
    align-items:center;
    height:70vh;
    width:80%;
    background-color:#222222;
    margin: 0 10% 0 10%;
    border-radius:0.25%;
    box-shadow: 0 0 5px #121212;
}
.detInfo{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    width:40%;
    height:100%; 
}
.addToCart{
    height:5vh;
    width:10vh;
    background-color:#E91E63;
    border:none;
    border-radius:4px;
}