.prodBody{
    width:70vw;
    margin-left:15vw;
    margin-right:15vw;
    display:flex;
    flex-flow:column nowrap;
    margin-top:15vh;
    background-color:#181818;
    box-shadow: 0 0 2px #060606;
}

.loading{
    height:85vh;
    width:70vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
