.prodList{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    background-color: #181818;
    min-height:76vh;
    margin-bottom:5vh;
    padding: 0 4%;
}
.backBtn, .filterBtn{
    margin-right:10%;
    margin-top:2%;
    background-color: transparent;
    border:none;
    color:white;
}
.backIcon, .filterIcon{
    height:25px;
    width:25px;
}
.filtersBody{
    height:85vh;
}
.banner{
    height:10vh;
    width:100%;
    background-color: #181818;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.filters{
    height:70vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
}
.filter{
    text-decoration: none;
    color:white;
    text-transform: uppercase;
    font-size:1rem;
}