.prodBody{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    display:flex;
    flex-flow:column nowrap;
}
.loading{
    height:86vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}