.prodCard{
    height:33vh;
    width:23vh;
    background-color: #191919;
    position:relative;
    margin: 30px 30px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 3px#101010;
    min-height:270px;
    min-width:190px;
    transition: all 0.5s ease-out;

    .imgContainer{
        height:60%;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:0;
        overflow:hidden;
    
        img{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            padding:4.5%;
            max-width:100%;
            max-height:100%;
            width:100%;
            height:100%;  
        }
    }

    .prodDesc{
        height:40%;
        text-transform: uppercase;
        display:flex;
        flex-flow:column wrap;
        justify-content: space-between;
        align-items:center;
    
        h4{
            font-size:0.8rem;
        }
    
        p{
            font-size:0.6rem;
        }
    
        .price{
            color:#E91E63;
            font-size: 0.9rem;
        }
    }

    .prodLink{
        text-decoration:none;
        color:white;
        .detailBtn:before{
            transition:0.5s all ease;
            position:absolute;
            top:0;
            left:50%;
            right:50%;
            bottom:0;
            opacity:0;
            content:"";
            cursor:pointer;
            background-color:#890C4E;
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    
    .prodLink:hover{

        .detailBtn:before{
            transition: 0.5s all ease;
            left:0;
            right:0;
            opacity:1;
            z-index:-1;
            cursor:pointer;
        }  
    }

    .detailBtn{
        height:30%;
        width:100%;
        display:flex;
        justify-content: center;
        align-items: center;
        text-decoration:none;
        background-color: #AD1356;
        border:none;
        color:#F7F7F7;
        transition: ease-out 0.5s;
        text-transform:uppercase;
        letter-spacing:1px;
        font-size:0.7rem;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position:relative;
        z-index:1;
    }
    
}

.prodCard:hover{
    transition: all 0.5s ease;
}







