header{
    width:100vw;
    height:15vh;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items:center;
    box-shadow: 0 0 5px black;
    font-family: 'Roboto', sans-serif;
    background-color: #151515;
    position:fixed;
    z-index:3;
    top:0;
    left:0;
}
.side{
    width:30%;
    height:100%;
    display:flex;
    flex-flow:row nowrap;
    justify-content: center;
    align-items:center;
    min-width:400px;
}
.center{
    height:60%;
    width:50%;
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-end;
    align-items: center;
}
nav{
    display:flex;
    justify-content:space-between;
    align-items:flex-end;
    .navLink{ 
        font-size:1rem;
        margin-right:1vw;
        margin-left:1vw;
        text-decoration:none;
        color:white;
        transition: color 0.4s;
        text-transform:uppercase;
        letter-spacing: 2px;
        font-weight:500;
        transition: all 0.5s ease-out;
    }
    .navLink:hover{                                                                                    
        color:#E91E63;
        transition:all 0.5s ease;
    }
}
.logo{
    color:white;
    text-decoration:none;
    cursor:pointer;
    font-size:1.5rem;
}
.cartWidget{

    display:flex;
    margin-left:1%;
    align-items:center;
    justify-content: space-around;
    padding-right:10px;
    text-decoration: none;
    flex-flow:row nowrap;
    font-size:20px;
    background:transparent;
    border-color:transparent;
    color:white;
    cursor:pointer;
    transition: all 0.4s ease-out;
    width:100px;
}
.cartWidget:hover{
    cursor:pointer;
    color:#E91E63;
    transition: all 0.4s ease;
}
.cartIcon{
    font-size:35px;
}
.cart{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    min-width:400px;
}










