@import 'NavBar';
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import 'ItemListContainer';
@import 'ItemList';
@import 'Item';
@import 'ItemDetailContainer';
@import 'ItemDetail';
@import 'Cart';
@import 'Counter';
@import 'Checkout';
@import 'Upload';


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size:16px;
    position:relative;
    width:100vw;
    overflow-x:hidden;
}

body {
    background-color:#121212;
    position:relative;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.prox{
    margin-top:20vh;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration:none;
    color:#E91E63;
}
.title{
    margin-left:10%; 
    margin-top:5%;
    text-transform:uppercase;
    letter-spacing: 2px;
    height:10vh;
    background-color: #181818;
}
.banner{
    height:10vh;
    width:100%;
    background-color: #181818;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.load{
    margin-top:15vh;
    height:80vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
}
.loading{
    height:85vh;
    width:70vw;
    font-size: 8rem;
    color:#F7F7F7;
    display:flex;
    flex-flow:column;
    justify-content: center;
    align-items: center;
    --animate-duration:0.2s;
    .spinner{
        animation: spin 1.2s ease-in-out infinite;
    }
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}