@import 'NavBar';
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import 'ItemListContainer';
@import 'ItemList';
@import 'Item';
@import 'ItemDetailContainer';
@import 'ItemDetail';
@import 'Cart';
@import 'Counter';

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html {
    font-size:16px;
    position:relative;
    width:100vw;
    overflow-x:hidden;
}
body {
    background-color:#121212;
    position:relative;
    color:white;
    font-family: 'Roboto', sans-serif;
}
.prox{
    margin-top:20vh;
    height:80vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
.link{
    text-decoration:none;
    color:#E91E63;
}
.title{
    margin-left:10%; 
    margin-top:5%;
    text-transform:uppercase;
    letter-spacing: 2px;
    height:10vh;
    background-color: #181818;
}